extends layout

block content

  include includes/header

  include includes/nav

  #status
    if (success)
      div= success
    else
      div= error

  #articles
    each article, index in articles
      .article
        h2
          a(href='/u/'+article.author+'/'+article.time.day+'/'+article.title)= article.title
        p.info
          span 作者：
          a(href='/u/'+article.author)= article.author
          span  | 日期：
          span= article.time.minute
          span  | 标签：
          each tag, index in article.tags
            if(tag)
              a.tag(href='/tags/'+tag)= tag
        div!= article.content
        p.info
          span 阅读：
          span= article.pv
          span  | 评论：
          span= article.comments.length
        hr

  include includes/paging

  include includes/footer